* {
    font-family: Roboto;
}

.box{
    backdrop-filter: blur(10px);
    border: solid;
    padding: 30px;
    border-radius: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.container{
    padding: 50px;
    border: solid 2px rgba(33, 32, 32, 0.486);
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.902);
    margin-bottom: 25px;
}




#button{
    display: flex;
    justify-content: center;
    
}

.selections{
    margin: 20px 0;
}


#content{
    min-height: 400px;
    width: 100%;
}

.radios{
    display: inline-block;
}

#categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.radios>label{
    display: inline-block;
    width: 110px;
    margin: 10px;
    text-align: center;
}

.labels{
    display: inline-block;
    margin: 10px 0;
    font-size: 20px;
}

#category_coose{
    display: block;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

#category_select{
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}