.a-admin-news{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
    transform: scale(1.2);
}

.main-buttons{
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.main-buttons>*{
    margin: 10px;
}
.category-select{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.news-all{
    margin: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.news-all>div{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 150px;
    height: 100px;
}

.news-all>div>*{
    margin: 5px;
}

.title, .content{
    overflow:scroll;
    text-align: justify;
    border: 1px solid;
    
}

.news-cover>img{
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: auto;
}

.delete-news-btn{
    background-color: red;
    color: white;
}