.a-admin-users{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
    transform: scale(1.2);
}

.create-new-user{
    padding: 40px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.create-new-user-btn{
    border: 3px solid;
    border-radius: 10px;
}

.main-buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-buttons>*{
    margin: 10px;
}

.usertypes{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.usertypes>div{
    display: flex;
    justify-content: center;
}

.usertypes>div>*{
   margin: 5px;
}
.usertypes>*{
    margin: 5px;
}

.user-search{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.user-search>*{
    margin: 5px;
}
#search{
    width: 200px;
    height: 40px;
}

.user-email-search{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.user-email-search>*{
    margin: 5px;
}
#email-search{
    width: 200px;
    height: 40px;
}

.bannde-users{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}



.create-btn{
    padding: 5px;
}

.new-user{
    padding: 40px;
    margin: 50px;
    border: 2px solid black;
    border-radius: 10px;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}


.new-user>form>*{
    margin: 20px;
    text-align: center;
    
}

.new-user>form>div>input{
    width: 60%;
}

.new-user>form>div>textarea{
    width: 100%;
    height: 200px;
}

.new-user-avatar-box{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-user-avatar-box>img{
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: auto;
    
}

#new-user-avatar{
    margin: 20px 0;
   
    
}

.new-user-cancel{
    color: white;
    background-color: red;
}



.users-container{
    padding: 40px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  
}

.user-container-box{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

.users-container-top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.users-container-top>div{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.users-container-top>div>*{
    margin: 5px;
    width: 100%;
    text-align: center;
}

.users-container-bottom{
    border: 2px solid black;
    margin: 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    
}

.users-container-bottom>*{
    display: inline-block;
    margin: 5px;
    
}

.usertype-request{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}
.usertype-request>div{
    text-align: center;
    
}

.usertype-request>div>form{
    display: inline-block;
}
.user-delete-btn, .user-block-btn{
    background-color: red;
    color: white;
}

.user-edit{
    
    background-color: bisque;
    margin: 50px;
}


.profile{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.profile>div{
    width: 500px;
    background-color: whitesmoke;
    margin: 20px;
    padding: 50px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.input-box{
    width: 100%;
    height: 25px;
    margin: 5px 0;
}


#usertype{
    height: 30px;
    width: 100px;
    text-align: center;
    margin: 5px 0;
} 

input[type="submit"]{
    margin: 10px 0;
}
.profile-information{
    text-align: center;
}

.profile-information>form>div{
    margin: 20px 0;
    text-align: center;
}

.profile-information-avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}

.profile-information-avatar>input{
    width: 180px;
    margin-top: 10px;
}
.profile-avatar-box{
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-avatar-box>img{
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: auto;    
    
}

.profile-information-about{
    width: 100%;
    padding: 10px;
}

.profile-information-about>textarea{
    width: 95%;
    height: 300px;
    padding: 5px;
    
   
}

.user-password-reset{
    border: 2px solid black;
    display: inline-block;
    border-radius: 10px;
    
}

.user-password-reset>form{
    
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 5px;
}
.user-password-reset>form>*{
    display: inline-block;
}

.cancel{
    background-color: red;
    color: white;
}

.user-usertype-change{
    border: 2px solid black;
    display: inline-block;
    border-radius: 10px;
}

.user-usertype-change>form{
    
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 5px;
}
.user-usertype-change>form>*{
    display: inline-block;
    
}

.user-avatar{
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: auto;
}

.user-avatar-box{
    max-width: 100px;
    max-height: 100px;
}