.a-admin-contacts-messages{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
    transform: scale(1.2);
}

.contact-main-container>h4{
    display: block;
    text-align: center;
}

.contact-messages{
    margin: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-messages>div{
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-message{
    text-align: justify;
}
.delete{
    background-color: red;
    color: white;
}

