.a-admin-comments{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
    transform: scale(1.2);
}

.comments-top-container{
    margin: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.comments-top-container>div{
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
}
input[type=search], #writers{
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

.comment-container-box{
    margin: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.comment-container{
    margin: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.comment-container>div{
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-title{
    max-width: 300px;
    max-height: 300px;
    overflow: scroll;
}

.edit-comment{
    margin: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-comment>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#edit-comment{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    height: 400px;
}
