/*-- FAQ --*/


.faq-section {
    background-color: #f8f9fa;
    padding: 100px 0;
}
.dropdown .btn-link i{
    color: #1ABCB6;
}
.faq-section h2 {
    font-size: 36px;
    font-weight: bold;
}

.faq-section p {
    font-size: 18px;
}

.faq-section .accordion {
    border: none;
}

.faq-section .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.faq-section .card-header {
    background-color: #fff;
}

.faq-section .card-header button {
    font-size: 18px;
    color: #333;
    text-align: left;
}

.faq-section .card-body {
    background-color: #f8f9fa;
    padding: 20px;
}

.contact-section {
    padding: 100px 0;
}

.contact-section h2 {
    font-size: 36px;
    font-weight: bold;
}

.contact-section p {
    font-size: 18px;
}

.contact-section .btn-primary {
    background-color: #1ABCB6;
    border: none;
}

.contact-section .btn-primary:hover {
    background-color: #17a2b8;
}
