

.main {
    
    display: grid;
    position: relative;
    grid-template-columns: 20% 2.5% 77.5%;
    margin-bottom: 50px;
    
    
  }
  
  
  .left-menu {
    background-color: transparent;  
    height: 100vh;
    box-shadow: 0px 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .leftmenu-top {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 32px;
    width: 100%;
    border: none;
    margin: 3px 0;
    background-color: white;
    transition: 0.5s;
  }
  
  #leftmenu-top-one {
    margin-top: 0;
    border-radius: 10px 10px 0 0;
  }
  
  #leftmenu-top-one:hover {
    border-radius: 10px 10px 0 0;
  }
  
  .leftmenu-top:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .left-manage-assetdiv {
    align-items: center;
    margin-left: 10px;
  }
  
  .left-manage-asset {
    align-items: center;
    height: 20px;
  }
  
  .left-manage-word {
    display: flex;
    margin-left: 10px;
  }
  
  .collapsible {
    align-items: center;
    background-color: #333;
    color: white;
    cursor: pointer;
    margin: 3px 0;
    height: 32px;
    border: none;
    text-align: left;
    width: 100%;
  }
  
  .collapsible-contentbutton {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
  }
  
  .collapsible-div {
    margin-left: 20px;
  }
  
  .collapsible-asset {
    height: 20px;
    align-items: center;
  }
  
  .icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 10px;
  }
  
  #collapsible-topics {
    border-radius: 10px;
  }
  .education {
    background-color: red;
    border-radius: 10px;
  }
  .general {
    background-color: blue;
    border-radius: 10px;
  }
  
  .general2 {
    background-color: rgb(0, 145, 255);
    border-radius: 10px;
  }
  .staff {
    background-color: rgb(255, 162, 0);
    border-radius: 10px;
  }
  
  .content {
    display: none;
  }
  
  .collapsible.active + .content {
    display: grid;
  }
  
  .divider {
    background-color: transparent;
  }
  
  .right {
    max-height: 100vh;
    background-color: white;
  }
  
  .right-ceiling {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
    height: 60px;
  }
  
  .right-sorting {
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-left: 15px;
  }
  
  .sortingbutton {
    margin-right: 8px;
    padding: 10px;
    background-color: #1ABCB6;
    transition: 0.5s;
    border: none;
    color: white;
    border-radius: 5px;
  }
  
  .sortingbutton:hover {
    color: white;
    background-color: red;
    cursor: pointer;
  }
  
  .sortingbutton:active {
    background-color: rgb(207, 0, 0);
  }
  
  .createpostbutton {
    margin-right: 8px;
    padding: 10px;
    background-color: rgb(214, 213, 213);
    transition: 0.5s;
    border: none;
    border-radius: 5px;
  }
  
  .createpostbutton:hover {
    background-color: red;
    color: white;
    cursor: pointer;
  }
  
  .createpostbutton:active {
    background-color: rgb(207, 0, 0);
  }
  
  .popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    margin: auto;
    text-align: left;
  }
  
  .popup-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .popup-close:hover,
  .popup-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .popup label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .popup input[type="text"],
  .popup textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .popup select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 0px;
  }
  
  .popup button[type="submit"] {
    background-color: #1ABCB6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup button[type="submit"]:hover {
    background-color: #16aba6;
    transition: 0.5s;
  }
  
  .post {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .post-header {
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 100%;
    font-weight: 600;
  }
  
 
  
  .post-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
  }
  
  .post-footer button {
    margin-right: 10px;
  }
  
  .upvote-downvote-btn {
    color: red;
    background-color: white;
    border-radius: 6px;
    padding: 5px;
    border: 1px solid red;
  }
  
  .upvote-downvote-btn:hover {
    cursor: pointer;
  }
  
  .category-container {
    display: flex;
    align-items: center;
  }
  
  .category-image {
    width: 18px; 
    height: auto;
    margin-right: 5px; 
  }
  
  .category-text {
    font-size: 14px;
    color: #555;
  }
  
  .share-report-btn {
    color: grey;
    background-color: white;
    border-radius: 6px;
    padding: 5px;
    border: 1px solid grey;
  }
  
  .share-report-btn:hover {
    cursor: pointer;
  }
  
  .posts-container {
    max-height: 90vh;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  
  .pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #pagination-prev-btn, 
  #pagination-next-btn {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(214, 213, 213);
    color: black;
    border: none;
  }
  
  #pagination-prev-btn:hover, 
  #pagination-next-btn:hover {
    background-color: rgb(189, 189, 189);
    transition: 0.5s;
    cursor: pointer;
  }
  
  .left, .right {
    width: 100%;
  }
  
  
  @media (max-width: 1200px) {
    .main {
      margin-left: 50px;
      margin-right: 50px;
    }
  }
  
  @media (max-width: 992px) {
    .main {
      grid-template-columns: 25% 5% 70%;
      margin-left: 50px;
      margin-right: 30px;
    }
  }
  
  @media (max-width: 768px) {
  
    .main {
      grid-template-columns: 25% 5% 70%;
    }
    .left-menu {
      margin: 5px 20px 15px 20px;
      height: 100%;
    }
  
    .leftmenu-top {
      align-items: center;
      justify-content: center;
    }
  
    .collapsible-div {
      text-align: center;
    }
  
    .main {
      grid-template-columns: 1fr;
      margin: 0;
    }
  }
  








/* ---------important----------- */


.popup-container{
    width: 100vw;
    /* height: 100vh; */
    z-index: 1; 
    position: absolute;
    backdrop-filter: blur(50px);
    display: flex !important;
    justify-content: center !important;
    
    
    
}

#popup{
    max-width: 750px;
    display: flex;
    justify-content: center;
    display: none;
}

/* ---------important----------- */






#body-main-conteiner{
    width: 100%;
    height: auto;
    backdrop-filter: blur(10px);
    overflow: visible;
    display: flex;
    justify-content: center;
    flex-direction: row;


}


#body-container{
    max-width: 1800px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 75px;
    overflow: visible;
   
    
    
}

#body-left{
    flex: 1;
    margin-right: 10px;
    border: solid 2px rgba(33, 32, 32, 0.486);
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.902);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 25px;
    text-align: center;
    height: 100vh;
    height: auto;
    
}

#body-right{
    flex: 7;
    display: flex;
    flex-direction: column;
    height: auto;
    
}

#body-rigt-nav{
    flex: 1;
    border: solid 2px rgba(33, 32, 32, 0.486);
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.902);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

#body-right-content{
    flex: 6;
    border: solid 2px rgba(33, 32, 32, 0.486);
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.902);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 25px;
    height: auto;
    
    
    
}


#head-cat{
    display: inline-block;
    margin-bottom: 15px;
}

.cat-select{
    display: inline-block;
    width: 130px;
    margin: 5px;
    text-align: center;
}

#body-rigt-nav-top{
    flex: 1;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 2px;
    border-radius: 20px;
    margin-bottom: 5px;
}
#body-rigt-nav-bottom{
    flex: 1;
    padding: 5px;
    display: flex;
    justify-content:space-evenly;
    border: solid 2px;
    border-radius: 20px;
}

#body-rigt-nav-top > div{
    margin: 5px;
}

#body-rigt-nav-bottom > *{
    margin: 5px;
}
.close-sembol{
    margin-left: 5px;
    color: white;
    border: solid 1px red;
    aspect-ratio: 1;
    height: 18px;
    text-align: center;
    background-color: red;
}



#search-div{
    border: 2px solid black;
    border-radius: 10px;
    padding: 1px;
    width: 27%;
    display: flex;
    justify-content: space-between;
}

#search-div>input{
    width: 85%;

}

#search-sembol{
    display: inline-block;
}

#search-sembol>*{
    display: inline-block;
}

.total{
    margin-right: 5px;
    color: black;
    background-color: white;
    padding: 2px;
    border-radius: 5px;
}

.topics{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    min-height: 120px;
    max-height: 200px;
    margin: 10px 0;
    border: solid 2px black;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.topic-title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    margin-bottom: 25px;
    border-radius: 25px;

}
.topic-title:hover{
    background-color: rgba(33, 14, 110, 0.804);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.topic-bottom{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}
.topic-bottom>*{
    margin: 0 10px;

}

.post-body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.post-body-profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;

}



.post-body-profile-button>a>img{

    max-width: 100%;
    max-height: 100%;
    aspect-ratio: auto;
    align-items: center;
    justify-content: center;
}