/*-- POST --*/

.post-create-section {
    background-color: #f8f9fa;
    padding: 100px 0;
}
.dropdown .btn-link i {
    color: #1abcb6;
}
.post-create-section h2 {
    font-size: 36px;
    font-weight: bold;
}

.post-create-section p {
    font-size: 18px;
}

.post-create-section .accordion {
    border: none;
}

.post-create-section .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.post-create-section .card-header {
    background-color: #fff;
}

.post-create-section .card-header button {
    font-size: 18px;
    color: #333;
    text-align: left;
}

.post-create-section .card-body {
    background-color: #f8f9fa;
    padding: 20px;
}

.contact-section {
    padding: 100px 0;
}

.contact-section h2 {
    font-size: 36px;
    font-weight: bold;
}

.contact-section p {
    font-size: 18px;
}

.contact-section .btn-primary {
    background-color: #1abcb6;
    border: none;
}

.contact-section .btn-primary:hover {
    background-color: #17a2b8;
}

.category-image {
    width: 18px;
    height: auto;
    margin-right: 5px;
}

.share-report-btn {
    color: grey;
    background-color: white;
    border-radius: 6px;
    padding: 5px;
    border: 1px solid grey;
}

.share-report-btn:hover {
    cursor: pointer;
}

.upvote-downvote-btn {
    color: red;
    background-color: white;
    border-radius: 6px;
    padding: 5px;
    border: 1px solid red;
}

.upvote-downvote-btn:hover {
    cursor: pointer;
}

.card-body>img{
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: auto;
}
