*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(228,228,228);
}

.main-cart{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    min-height: 400px;
    background-image: url("../img/website.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    
}

.alert-danger {
    background-color: #f8d7da!important;
    border-color: #f5c6cb!important;
    border-radius: 25px;
    color: #721c24!important;
    list-style: none;
    padding: 2px;
}

#login{ 
    padding: 30px;
    border: transparent;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(10px); 
}

img{
    display: block;
    margin: auto;
    width: 140px;
    
}

@media only screen and (max-width:800px) {
    .main-cart{
        position:unset;
        width: auto;
        margin: 0;
        transform: none;
        background-image: none;
        padding: 20px;
        display: inline-block;
        text-align: center;
        text-shadow: 3px 3px 20px #d6d3d4, -2px 1px 30px #d6d3d4;
    }
   
    body{
        margin: 0;
        padding: 0;
        padding-top: 100px;
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        background-image: url("../img/ehb_logos/EhB-logo-transparant.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    #info{
        display: none;
    }

    #login{
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
    }
}