*{
    box-sizing: border-box;
    font-family: Roboto;
}
html, body{
    margin: 0;
    padding: 0;
}
body{
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(228,228,228);
}
.main-cart{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: auto;
    min-height: 400px;
    background-image: url("../images/website.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
.alert-danger {
    background-color: #f8d7da!important;
    border-color: #f5c6cb!important;
    border-radius: 25px;
    color: #721c24!important;
    list-style: none;
    padding: 2px;

}
#login{
    width: 300px;
    padding: 30px;
    text-align: center;
    /* background-color: rgba(209, 199, 199, 0.422); */
    border: transparent ;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(10px);
    
}

img{
    width: 140px;
    margin-bottom: 50px;
}

input{
    height: 40px;
    width: 200px;
    margin: 10px;
    outline: none;
}
input:focus{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.5) 0px -12px 30px, rgba(0, 0, 0, 0.5) 0px 4px 6px, rgba(0, 0, 0, 0.5) 0px 12px 13px, rgba(0, 0, 0, 0.5) 0px -3px 5px;
    transition: 0.5s;
}

button{
    color: white;
    background-color: #16aba6;
    border-radius: 10px;
    border: transparent;
    margin: 5px;
    padding: 10px;

}


input{
    border: transparent;
    border-radius: 25px;
    padding: 10px;
}

button:hover{
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.5) 0px -12px 30px, rgba(0, 0, 0, 0.5) 0px 4px 6px, rgba(0, 0, 0, 0.5) 0px 12px 13px, rgba(0, 0, 0, 0.5) 0px -3px 5px;
    transition: 0.5s;
}
button:active{
    transform: translateY(4px);
}

@media only screen and (max-width:800px) {
    .main-cart{
        position:unset;
        width: auto;
        margin: 0;
        transform: none;
        background-image: none;
        padding: 20px;
        display: inline-block;
        text-align: center;
    }
    body{
        margin: 0;
        padding: 0;
        padding-top: 100px;
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        background-image: url("../images/ehb_logos/EhB-logo-transparant.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;

    }
    #info{
        display: none;
    }
    
}


