body {
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 130px;
  margin-right: 130px;
  border-color: black;
  background-color: white;
  box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.2); /* Adjust the shadow */
  border-radius: 10px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-expansion-button {
  display: flex;
  align-items: center;
  margin-right: 20px;
  border: none;
  background-color: transparent;
}

.expansionbutton-asset {
  height: 30px;
}

.header-logo {
  margin-left: 40px;
  color: black;
  height: 50px;
  margin-right: 5px;
}

.header-logo:hover {
  cursor: pointer;
}

.erasmus-logo {
  height: 50px;
}

.header-middle {
  display: flex;
}

.search-bar {
  display: flex;
  align-items: center; /* Align items vertically */
}

.input-search-bar {
  border: 2px solid #1ABCB6;
  flex: 1;
  padding: 10px 10px;
  align-items: center;
  outline: none;
  width: 400px;
}

.input-search-bar:hover {
}

.submit-search-btn {
  background-color: #1ABCB6;
  color: white;
  border: 2px solid #1ABCB6;
  margin-left: 0px;
  padding: 10px 10px;
}

.submit-search-btn:hover {
  cursor: pointer;
  background-color: #1a7ebc;
  border-color: #1a7ebc;
  transition: 1s;
}

/* .header-search-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  padding-right: 0px;
  margin-right: 3px;
}

.searchbutton-asset {
  height: 30px;
}

.header-text-field {
  border-radius: 12px;
  border: none;
  width: 300px;
  border: 1px solid gray;
  padding-left: 10px;
  outline: none;
} */


.header-right {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.header-chat-button {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 20px;
  border: none;
  background-color: transparent;
}

.header-chat-button:hover {
  cursor: pointer;
}

.chatbutton-asset {
  height: 30px;
}



.header-profile-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}


.header-profile-button {
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border-radius: 17px;
  background-color: transparent;
}

.header-profile-button:hover {
  cursor: pointer;
}

.profilebutton-asset {
  height: 30px;
  border-radius: 17px;
  align-items: center;
  justify-content: center;
}