body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-image: url("../pics/ehb_logos/EhB-logo-transparant.png");
    background-color: rgb(228,228,228);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 50px;
}




.container{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
    
}

#profil-foto{
    padding-top: 50px;
    text-align: center;
    backdrop-filter: blur(10px);
    flex:35%;
    border: solid 2px rgba(33, 32, 32, 0.486);
    border-radius: 50px;
    display: inline-block;
}

#profile-img{
    height: 40%;
    width: 40%;
    border: solid 2px;
    border-radius: 50%;
}

#btn-img-upload{
   margin: 25px;
   padding: 10px 25px;
   background-color: rgb(49,179,175);
   border-radius: 20px;
}

#foto-upload{
    display: none;
}

#foto-upload-label{
    font-size: 40px;
    position: relative;
    right: 20px;
    color: azure;
    text-shadow: 2px 2px 2px black;
}


#foto-upload-label:hover{
    color: red;

}

#foto-upload-label:active{
    transform: translate(4px);
}


#profile-settings{
    flex: 65%;
    border: solid 2px rgba(33, 32, 32, 0.486);
    border-radius: 50px;
    display: inline-block;
    padding: 25px;
    backdrop-filter: blur(10px);
}

#profile-settings h2{
    display: block;
    text-align: center;
}

#education-container{
    display: flex;
}
#education-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


form >div{
    margin: 5px;
    padding: 5px;
}

.label-left{
    display: inline-block;
    width: 220px;
    color:white;
    font-size: 30px;
    text-shadow: 2px 2px 3px rgb(49,179,175);
    /* text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.label-right{
    display: inline-block;
    width: 400px;
    color: rgb(228,228,228);
}
input{
    border-radius: 20px;
    padding: 10px;
}

input:focus{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.5) 0px -12px 30px, rgba(0, 0, 0, 0.5) 0px 4px 6px, rgba(0, 0, 0, 0.5) 0px 12px 13px, rgba(0, 0, 0, 0.5) 0px -3px 5px;
    
}

#submit{
    display: block;
    text-align: center;
}

#btn-submit{
    padding: 10px 50px;
    border-radius: 20px;
    background-color: rgb(49,179,175);
}

button:hover{
    background-color: red !important; 
    box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.5) 0px -12px 30px, rgba(0, 0, 0, 0.5) 0px 4px 6px, rgba(0, 0, 0, 0.5) 0px 12px 13px, rgba(0, 0, 0, 0.5) 0px -3px 5px;
}
button:active{
    transform: translateY(4px);
}

.select-edu{
    border-radius: 20px;
    padding: 10px;
    display: block;
    width: 430px;
}

.select-edu:focus{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.5) 0px -12px 30px, rgba(0, 0, 0, 0.5) 0px 4px 6px, rgba(0, 0, 0, 0.5) 0px 12px 13px, rgba(0, 0, 0, 0.5) 0px -3px 5px;
    
}

#education-container{
    display: flex;
    flex-wrap: wrap;
}
#educations{
    text-align: center;
}



@media only screen and (max-width:800px){

    .container{
        margin: 0;
        flex-wrap: wrap;
    }

    .label-left{
        width: 150px;
        color:white;
        font-size: 20px;
    }

}

