#main-sign{
    margin: auto;
    border: transparent;
    border-radius: 50px;
    display: inline-block;
    width: 700px;
    padding: 50px;
    background-color: rgba(228,228,228, 0.5);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(10px);
}

#main-text{
    display: block;
    text-align: center;
    font-size: 30px;
    color:#451829;
}

@media screen and (max-width:800px) {
    #body-sign{
        background-image: none;
        background-color: rgba(209, 199, 199, 0.422);
    }

    #main-sign{
        margin: auto;
        border: transparent;
        border-radius: 50px;
        display: inline-block;
        width: auto;
        padding: 50px;
        text-align: center;
        background-color: rgba(228,228,228, 0.5);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        backdrop-filter: blur(10px);
    }
}



